backend/.gocache
backend/noet
quill-ref/
backend/noet.db-wal
backend/noet.db-shm
backend/.gopath
backend/noet.db
uploads
.DS_Store
frontend/node_modules/.bin
frontend/node_modules/@ampproject/remapping/dist
frontend/node_modules/@babel
frontend/node_modules/@esbuild
frontend/node_modules/@floating-ui
frontend/node_modules/@jridgewell
frontend/node_modules/@remirror
frontend/node_modules/@rolldown
frontend/node_modules
backend/noet-server
backend/backend
backend/static
backend/static
data
README.Docker.md
pic.png
frontend/public/pic2.png
